# Forever
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Geometric_morphometrics/3D/data/.DS_Store
Geometric_morphometrics/3D/data/Landmarks/.DS_Store
	
# Temporary
data/Meshes/*.vtk
Slicer_GPA/*
Raw_Scans/*
Old_LMs/*
